<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.scss">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

  <title>SLACA 19</title>
</head>
<body>
  <div class="all-pg">

    <aside>
      <div class="side-bar">
        <div class="event">
          <div class="content">
            <h3>SLACA 2019</h3>
          </div>
          <div class="menu-logo"></div>
          <nav class="navbar navbar">
            <div class="navbar-nav">
              <a href="#" id="menu-apresentacao">Apresentação</a>
              <a href="#" id="menu-comite">Comitês</a>
              <a href="#" id="menu-autor">Autores</a>
              <a href="#" id="menu-temas">Eixos Temáticos</a>
              <a href="#" id="menu-trabalho">Trabalhos</a>
              <a href="#" id="menu-contato">Contatos</a>
            </div>
          </nav>
        </div>
      </div>
    </aside>

    <!--HEADER-->
    <div class="container-content">
      <header>
        <div id="text-ini">
          <p id="theme-text">
            Anais do Simpósio Latino Americano de Ciências de Alimentos
          </p>
          <h1 id="title">
            Anais do 13º Simpósio Latino Americano de Ciência de Alimentos
          </h1>
          <p id="post-id">ISSN: 1234-5678</p>
        </div>
        <div id="btn-div">
          <div id="language-button">
            <img src="../assets/language-image.svg" alt="Linguage image" style="padding-bottom: 5px">
            <select name="linguage" id="linguage">
              <option value="Português-BR">PT,BR</option>
              <option value="Português-PT">PT,PT</option>
              <option value="Inglês-UK">IG,UK</option>
              <option value="Inglês-US">IG,US</option>
            </select>
          </div>
          <div id="login">
            <div class="login-texts">
              <div id="greetings"><p>Bem vindo!</p></div>
              <div id="email"><p>alguem12@galoascience.com</p></div>
            </div>
            <div class="login-images">
              <div id="profile-image"></div>
              <div id="notification-image">
                <p id="notification-number">2</p>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!--Início da pg-->
      <div class="page-content">
        <div id="content-title">
          <div class="work-title">
            <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do minicípio de Campinas/SP
            </h2>
          </div>
          <div id="work-interaction">
            <div id="interaction-btn">
              <img src="../assets/download-button.svg" alt="Dowload button">
              <img src="../assets/favorite-button.svg" alt="Favorite button">
              <img src="../assets/doi-button.svg" alt="Doi button">
            </div>
            <div id="comment-work">
              <p>COMO CITAR ESSE TRABALHO?</p>
            </div>
          </div>
        </div>

        <!--AREA-VIDEO-->
        <div class="video-content">
          <div class="container-video">
            <img src="../assets/vídeo-overlay.svg" alt="">
            <h3>
              Análise sensorial de preparações funcionais desenvolvidas para escolares 09 e 15 anos, do município de Campinas/sp
            </h3>
            <div id="master-round"></div>
            <p id="author">Beatriz Christine Melo</p>
            <p id="author-detail">FCA / Universidade Estadual de Campinas</p>
          </div>

          <div class="video-detail">
            <div class="detail-title">
              <p>Detalhes</p>
            </div>
            <div class="video-detail-content">
              <div class="detail-text">
                <p>Tipo de Apresentação: 
                  <strong>
                  Pôster
                </strong><br>
                  Eixo temático: <strong>Alimentação e saúde (AS)</strong><br>
                  Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong><br><br>
                  <strong>Autores:</strong><br>
                  Galileiu Galilei¹<br>
                  Berta Lange de Morretes²<br>
                  Isaac Newton³<br>
                  Cesar Lattes¹<br>
                  Stephen Hawking⁴<br><br>
                  <span>¹Universidade Estadual de Campinas<br>
                  ²Universidade de São Paulo<br>
                  ³Instituto Nacional de Pesquisas Espaciais<br>
                  ⁴Universidade Federal do Rio de Janeiro</span></p></div>
                <div class="detail-scroll">
                  <div class="up-scroll"></div>
                  <div class="down-scroll"></div>

              </div>
            </div>
          </div>
        </div>
        <!--RESUMO-->
        <br><br>
        <div class="container-abstract">
          <div class="abstract-head">
            <p>Resumo</p>
          </div>
          <div class="abstract-content" onclick="showContent()">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna ultricies gravida.</p>
               <p>Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet.</p>
                <p> Donec finibus nisi tellus, ut viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl metus.</p>
               
                 
                 <p>Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eum voluptatibus illum tempora dolor labore amet pariatur animi incidunt autem quo earum repudiandae ipsum, nesciunt neque facilis saepe.
                   Porro, tempora, eius temporibus, hic! <span id="hideText">... <strong>ver mais</strong> </span>
                                 <span id="showText">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla dolor iure eveniet harum neque itaque aliquam alias animi officiis impedit sit, doloremque quos praesentium labore deserunt repellendus sunt vitae.
                <br><br>
                <p>L orem ipsum dolor sit amet consectetur adipisicing elit. Nam, eos esse, atque modi quos voluptates nobis amet blanditiis deleniti est maxime! Velit placeat iusto eveniet consequuntur, esse officiis fuga excepturi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore numquam magnam adipisci explicabo rerum doloremque tempora, eius temporibus, ipsa ratione architecto quidem exercitationem rem aliquam, perspiciatis itaque.</p>
                <p> Voluptatem, dignissimos quibusdam.<br><br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, incidunt ad officia hic quos vel quam modi doloribus placeat dignissimos sit alias ex nam esse. Pariatur corrupti facere natus tenetur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quod facere temporibus, sequi harum mollitia modi, eveniet ducimus qui corrupti cupiditate obcaecati? Dolore dolorem magnam temporibus corporis necessitatibus quasi ad?</p></span></p>
          </div>
        </div>
        <!--Sessão-->
        <div class="speech-container">
          <div class="header-speech">
            <p>Discussão</p>
          </div>
          <div class="all-content-abstract">
        <!--area-compartilhamento-->
            <div id="sharing-session">
              <p>
                Compartilhe suas ideias ou dúvidas com os autores!
              </p>
              <div class="sharing-icons">
                <div class="icon-1">
                  <img src="../assets/sharing-icon-1.png" alt="">   </div>
                  <div class="icon-2">
                    <img src="../assets/sharing-icon-2.png" alt="">
                  </div>
                  <div class="icon-3">
                    <img src="../assets/sharing-icon-3.png" alt="">
                  </div>
              </div>
              <div class="ask-thutor">
                <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a cursiosidade? Deixe seus questionamentos ou sugestões para o autor!
                </p>
              </div>
              <div class="btn-box">
                <button type="button" onclick="criarTopico()">
                  <img src="../assets/create-topic-icon.svg" alt="botão criar tópico">
                </button>
              </div>
            </div>
            <!--Area-Form-->
            <div id="form-message">
              <p>Tem alguma dúvida ou sugestão? Compartilhe seu feedback com os autores
              </p>
              <label>Assunto</label>
              <input disabled="" type="text" id="msg" placeholder="Defina um tópico sucinto para notificar os autores...">
              <label>Conteúdo</label>
              <div id="message-content"></div>
              <div class="icon-btn-form">
                <div class="icon-form">
                  <div id="shape-1"></div>
                  <div id="shape-2"></div>
                </div>
                <div class="btn-form">
                  <button onclick="sendPost()">Enviar</button>
                </div>
              </div>
              <hr>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>