@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");


.all{
  max-width: 100%;
  height: 100vh;
  padding: 0;
  background: #fff;
  display: inline-flex;
  padding-bottom: 3.125rem;
}
aside{
  position: fixed;
  width: 13.75rem;
  height: 100vh;
  background: #ffffff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.25)
}


/*area-Menu*/

.side-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  height: 33.5rem;
}

.event{
  font-family: 'roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.content h3{
  background: linear-gradient(180deg, #ffb354 0%, #ee7a3a 100%);
  padding-top: 0.9375rem;
  padding-bottom: 0.3125rem;
  width: 13.75rem;
  height: 4.25rem;
  color: #ffffff;
}
.menu-logo{
  width:13.75rem;
  height: 16.125rem;
  margin-top: 33.75rem;
  margin: 0rem 0rem;
  background-image: url('../assets/dewey-4.png');
}
#menu-apresentacao,
#menu-comite,
#menu-autor,
#menu-temas,
#menu-trabalho,
#menu-contato{
  border-bottom: 0.0625rem solid #908e8e;
  width: 13.75rem;
  height: 2.0625rem;
}

.navbar-nav a{
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  color: #725c5c;
  text-decoration: none;
  padding:0.4375rem;
  width: 13.75rem;
}
.navbar-nav a:hover{
  background: #fdf1eb;
}
.container-content{
  display: block;
  width: 81.1875rem;
  width: 100%;
  height: 100%;
  margin-left: 13.75rem;
}
header{
  margin-top: 5px;
  width: 100%;
  height: 4.25rem;
  background: #fdf1eb;
  display: inline-flex;
  padding-left: 0rem;
}
#text-ini{
  width:47.5rem;
  display: flex;
  flex-direction: column;
  padding-left: 2.8125rem;
}
#theme-text{
  position: relative;
  top: -0.125rem;
  width: 100%;
  height: 1rem;
  padding-top: 0.3125rem;
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #725c5c;
  margin-top: 5px;
}
#title{
  position: relative;
  max-width: 75rem;
  height: 26px;
  bottom: 0.75rem;
  font-family: 'roboto';
  font-style:normal;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1rem;
  color: #725c5c;
  margin-top: 5px;
}
#dado-id{
  position: relative;
  width: 100%;
  height: 1rem;
  top: -1.25rem;
  font-family: 'roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #725c5c;
  margin-top: 5px;
}
#btn-div{
  width: 30%;
  display: inline-flex;
}
#l-button{
  min-width: 6.25rem;
  height: 2.125rem;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 0.1875rem;
  padding: 0.1875rem;
  margin: 1.0625rem;
  text-align: center;
}
#linguage{
  border: none;
  background-color: #fdf1eb;
  font-size: 0.75rem;
}
#login{
  display: flex;
  margin-top: 0.375rem;
  padding: 0.625rem;
  padding-right: 0;
  margin-right: 0;
}

.login-texts{
  width: 100%;
}
#boas-v{
  height:1.125rem;
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 0.5rem;
  text-align: right;
  color: #333333;
}

#email{
  font-family:'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  text-align: right;
  width: 100%;
}

.login-images{
  position: relative;
  margin: 0.1875rem;
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 2.8125rem;
}

#pro-image{
  position: absolute;
  width: 1.875rem;
  height: 1.875rem;
  background: #f5f5f5;
  box-sizing: border-box;
  border-radius: 50%;
  background-image: url('../assets/women-image.png');
}
#notification-i{
  position: absolute;
  background: #f85959;
  border-radius: 0.625rem;
  right: -0.75rem;
  height: 0.75rem;
  width: 0.75rem;
  z-index: 1;
}
  #notification-n{
    width: 0.75rem;
    height: 0.75rem;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 0.75rem;
    padding-left: 0.1875rem;
    color: #fff;
  }
  .page-content{
    display: block;
    padding-right: 2.8125rem;
    padding-left: 2.8125rem;
  }

  #content-title{
    display: inline-flex;
    width: 100%;
    padding-top: 1.5625rem;
  }
  .work-title{
    width: 80%;
  }
  .work-title > h2{
    height: 3.375rem;
    width: 90%;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 1.25rem;
    letter-spacing: 0.05em;
    color: #ed7839;
  }
  #w-interaction{
    width: 30%;
    text-align: center;
  }
  #inter-btn img{
    padding-left: 0.9375rem;
    height: 2.1rem;
    cursor: pointer;
  }
  #comment-w p{
    margin-top: 0.5rem;
    height: 1.5625rem;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.5625rem;
    text-align: center;
    letter-spacing: 0.05em;
    word-spacing: 0.125rem;
    color: #ed7839;
  }

  /*VIDEO*/

  .video-content{
    position: relative;
  }
  .container-video{
    position: relative;
    width: 783px;
    height: 439px;
    background-image: url(../assets/dewey-1.png);
  }
  .container-video img{
    position: absolute;
    width: 48.9375rem;
    height: 27.4375rem;
    left: 0px;
    top: 0px;
    background: rgba(141, 53, 6, 0);
    border-radius: 0.1875rem;
  }
  .detail-title{
    background: #fdf1eb;
    border: 1px solid #ececec;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
  }
  .detail-title p {
    width: 13.25rem;
    font-family: 'roboto';
    font-size: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    align-items: center;
    color: #4e4e4e;
    padding-top: 0.625rem;
    padding-left: 0.625rem;
  }
  .container-video h2{
    position: absolute;
    width: 45.875rem;
    height: 4rem;
    left: 2rem;
    top: 2.1875rem;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5625rem;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
  #img-round{
    position: absolute;
    width: 5.25rem;
    height: 5.375rem;
    left: 1.9375rem;
    bottom: 3.25rem;
    background-image: url(../assets/master-end-round.png);
  }

  #author{
    position: absolute;
    height: 2.25rem;
    left:8.375rem;
    bottom: 4.875rem;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 2.125rem;
    line-height: 1.5625rem;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
  #author-detail{
    position: absolute;
    height: 1.6875rem;
    left: 8.5rem;
    bottom: 3.4375rem;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 1.5625rem;
    letter-spacing: 0.05em;
    color: #ffffff;
  }

  .video-detail{
    position: absolute;
    width: 16.25rem;
    height: 440px;
    right: 0px;
    top: 0px;
    border: 1px solid #ececec;
    box-sizing: border-box;
    border-radius: 0.1875rem;
  }
  .video-detail-content{
    display: flex;
    position: relative;
  }
  .detail-text p{
    width: 12.5rem;
    height:30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 135%;
    letter-spacing: 0.02em;
    color: #5c5c5c;
    margin: 1.875rem;
  }
  .detail-text span{
    font-weight: 500;
    font-size: 0.75rem;
    color: #827c7c;
  }
  
  .detail-scroll{
    position: relative;
    width: 10px;
    height: 40px;
    right: 0.4375rem;
    top: 1.875rem;
  }

  .up{
    position:absolute;
    width: 4px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #bfbfbf;
    border-radius: 0.3125rem;
    z-index: 1;

  }
  .down{
    position: absolute;
    width: 0.25rem;
    height: 350px;
    left: 0rem;
    top: 0rem;
    background: #e7e7e7;
  }

  .container-abs{
    width: 100%;
    max-height: 750px;
    margin-top: 2.5rem;
    border: 1px solid #ececec;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .abstract-content .resumo{
    font-family: 'roboto';
  }
  .abstract-head{
    width: 100%;
    height: 2.9375rem;
    background: #fdf1eb;
    border: 1px solid #ececec;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0;
  }
  .abstract-head p{
    width: 100%;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    padding: 0.625rem 0.9375rem;
  }
  .abstract-content{
    width: 100%;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4375rem;
    letter-spacing: 0.02em;
    color: #5c5c5c;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    padding: 0.9375rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    cursor: pointer;
  }
  .abstract-content p{
    font-family: 'Quicskand';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #ececec;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin:  0px 0px;
  }

  #showText{
    display: none;
  }
  .abstract-content strong{
    color: #ed7839;
    font-size: larger;
    font-family: 'Quicksand';
  }
  .speech-container{
    width: 100%;
    height: 1200px;
    margin-top: 1.875rem;
    border: 1px solid #ececec;
    box-sizing: border-box;
    border-radius: 3px;
  }
  .all-content-abstract{
    padding: 0px 16px 0px 20px;

  }
  .header-speech{
    width: 100%;
    height: 50px;
    background: #fdf1eb;
    border:0.0625rem solid #ececec;
    box-sizing: border-box;
    border-radius: 3px 3px 0 0;
    margin-top: -0.0625rem;
    margin-left: -0.0625rem;
  }
  .header-speech p {
    width: 100%;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    color: #4e4e4e;
    padding: 10px 15px;
  }

  /*Compartilhamento*/
  #sharing-session{
    display: block;
  }
  #sharing-session, .tx1 {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: #ed7839;
    text-align: center;
    margin-top: 0.9375rem;
  }
  .sharing-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.6875rem;
  }
  #sharing-icon-2{
    padding-left: 3.2338rem;
    padding-right: 3.2338rem;
  }
   .p-author > p{
      font-family: 'Quicksand';
      color: #595959;
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 19px;
      text-align: center;
      width: 39.125rem;
      height: 2.4375rem;
      margin: auto;
      margin-top: 2.1913rem;
  }  
  .btn-box{
    display: flex;
    margin-top: 14px;
    justify-content: center;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 1.75rem;
  }
  .btn-box button{
    width: 8.3125rem;
    height: 2rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1rem;
    color: #ffffff;
    background: linear-gradient(180deg, #feb254 0%, #f0813d 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    margin: bottom -16px; 
  }

  /*area Formulário*/
  #form-message{
    margin: 15px;
    display: block; 
  }
  #form-message p{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: center;
    color: #5c5c5c;
    padding-top: 0px;
  }
  #form-message label{
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.1875rem;
    color: #ed7839;
    width: 100%;
  }
  #form-message input{
    background: #ffffff;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
  }
  #message-subject{
    height: 39px;
    padding-left: 1.4456rem;
    padding-top: auto;
    padding-bottom: auto;
    margin-bottom: 0.625rem;
  }
  #message-subject::placeholder{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 18px;
    color: #4d4d4d;
  }
  #message-content{
    height: 82px;
    border-radius: 4px 4px 0 0;
    margin-bottom: -1px;
    border: 1px solid #cccccc;
  }
  .icon-btn-form{
    position: relative;
    width: 100%;
    height: 1.9375rem;
    background: #eaf1f2;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    display: flexbox;
  }
  .icon-form{
    position: absolute;
    display: flex;
    left: 1.8313rem;
    top: 0.625rem;
  }
  
  #shape-1{
    background-image: url('../assets/shape.svg');
    width:12px;
    height: 10px;
    padding-left: 29.3px;
    background-repeat: no-repeat;
  }
  

  
  #shape-2{
    background-image: url('../assets/shape-2.svg');
    width:12px;
    height: 10px;
   
    background-repeat: no-repeat;
  }
  

  .btn-form{
    position: absolute;
    width: 13.4375rem;
    height: 1.9375rem;
    right: -0.0625rem;
    top: -0.0625rem;
  }
  .btn-form button{
    background: linear-gradient(180deg, #feb154 0%, #f1833e 100%);
    border-radius: 0px 0px 4px 0px;
    width: 100%;
    height: 100%;
    border: none;
    justify-content: end;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9375rem;
    line-height: 1rem;
    text-align: center;
    color: #ffffff;
  }
  #form-message hr{
    margin-top: 15px;
    border: 1px solid #e7e7e7;
  }

  /*Enviado*/
  #confirm-shipping{
    margin-bottom: 0;
  }
  .confirm-text p {
    font-family: 'roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    text-align: center;
    color: #ed7839;
    margin-top: 0.9375rem;
  }

  .thanks-text p{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    text-align: center;
    color: #595959;
    margin-top: 1.125rem;
  }
  .jobs p{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 137.5%;
    text-align: center;
    text-decoration-line:underline;
    color: #f48f44;
    margin-top: 1.8125rem;
  }

  .new-topic{
    width: 14.6969rem;
    height: 32px;
    margin: auto;
    margin-top: 2.9375rem;
  }
  .new-topic button{
    border: none;
    width: 14.6969rem;
    height: 2rem;
    background:linear-gradient(180deg, #feb254 0%, #f0813d 100%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24) ;
    border-radius: 4px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
  }
  .confirm-shipping-line{
    border-bottom: 1px solid #e7e7e7;
    margin-top: -1rem;
  }

  /*Feedback*/
  .espera-author{
    position: relative;
    width: 100%;
    height: 9.5rem;
    margin-top: 1.75rem;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
    border-radius: 0.25rem;
  }
  .post{
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
    left: 0;
    margin-bottom: 10px;
  }

  #question, #subject-question-model{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #ed7839;
    padding: 17px 24.17px 0 24.17px;
    margin-bottom: 0px;
  }
  #name,
  #name-model{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    color: #5c5c5c;
    margin-bottom: 0px;
    padding-inline-start: 1.5106rem;
  }
  #post-content,
  .post-content-model
  {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #4d4d4d;
    margin-top: 0.625rem;
    margin-bottom: 0px;
    padding-left: 24.17px;
    padding-right: 30.14px;
  }
 
  .return,
  .return-model{
    margin-top: 10px;
    padding-bottom: 53px;
    padding-left: 24.17px;
  }

  /*FILTRAR*/
.post-cover{
  position: absolute;
  display: block;
  width: 100.2%;
  height: 103%;
  background: #f7f5f5b6;
  border: 0.0625rem solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 0.25rem;
  top: -0.0625rem;
  left: -0.0625rem;
  
}
.post-cover img{
  width: 1.9325rem;
  height: 1.4512rem;
  margin-top: 2.1875rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#wait-feedback {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #707070;
  text-align: center;
  margin-top: 7.78px;
  margin-bottom: 0px;
}

#edit-topic {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #ed7839;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 35px;
  cursor: pointer;
}

/* Modelos de posts */
.post-model,
.post-model-comments {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin: 0 auto;
  width: 97%;
  background: #ffffff;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 6px;
  margin-top: 15px;
  height: 155px;
  padding-bottom: 18px;
}

/* Post com comentários */
#hidden-comments {
  width: 100.15%;
  margin-left: -1px;
  display: none;
}
.return-comments {
  display: flex;
  margin-top: 10px;
  padding-bottom: 13px;
  padding-left: 24.17px;
  width: 100%;
}

.spots {
  display: block;
  margin-top: 1px;
}
.score {
  width: 4px;
  height: 4px;
  background-image: url("../assets/score.svg");
  background-repeat: no-repeat;
  padding-bottom: 7px;
}

.btn-enjoy {
  width: 27.03px;
  height: 19px;
  position: relative;
  margin-top: -4px;
  margin-left: 15.01px;
}

.box-heart {
  position: absolute;
  top: 0px;
  left: 0px;
}

.heart {
  position: absolute;
  width: 14.01px;
  height: 14px;
  background-image: url('../assets/coracao.svg');
  background-repeat: no-repeat;
  top: 9.3px;
  left: 9.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes p {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #aaa5a5;
  margin-left: 15.01px;
  cursor: pointer;
}

.answers p {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #aaa5a5;
  margin-left: 15.01px;
  cursor: pointer;
}

.answers p:hover {
  color: #aaa5a5;
  text-decoration: underline;
}

.contribution {
  background: #f8f8f8;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 18px 23.19px;
  max-height: 300px;
  border-radius: 0px 0px 3px 3px;
}

.contribution-empty {
  padding: 18px 23.19px;
  
  padding-right: 92px;
}
.comments-header {
  display: inline-flex;
  position: relative;
  width: 100%;
}
.comments-author {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #5c5c5c;
}

.who {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ed7839;
}

.the-end-header {
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
}

.positive {
  width: 30.92px;
  height: 23.22px;
  background-image: url("/img/orang-right.svg");
  background-repeat: no-repeat;
  margin-left: 33.07px;
}

.comment-content {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #4d4d4d;
  padding-right: 92px;
}

/* Footer */
footer {
  width: 1000px; 
  margin: 0 auto;
  margin-left: 255px;
  
  bottom: 0;
}

footer img {
  width: 100%;
}
